<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.access.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.access.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>controller.admin.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientHomeServlet</servlet-name>
        <servlet-class>controller.client.ClientHomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSellingsServlet</servlet-name>
        <servlet-class>controller.admin.AdminSellingsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminPhotocardsServlet</servlet-name>
        <servlet-class>controller.admin.AdminPhotocardsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminArtistsServlet</servlet-name>
        <servlet-class>controller.admin.AdminArtistsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUserServlet</servlet-name>
        <servlet-class>controller.admin.AdminUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/Dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientHomeServlet</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSellingsServlet</servlet-name>
        <url-pattern>/Sellings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminPhotocardsServlet</servlet-name>
        <url-pattern>/Photocards</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminArtistsServlet</servlet-name>
        <url-pattern>/Artists</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUserServlet</servlet-name>
        <url-pattern>/Profile</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
